# Dependencies
node_modules
.pnpm-store

# Build
.next
out
build

# Testing
coverage

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Misc
*.tsbuildinfo
*.pem

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Environment
.env
.env.local
.env.production.local
.env.development.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts